{% extends "layout.html" %}

{% block main_content %}
    <style>
        @import url("/static/css/project-detail.css?after");
    </style>
    <div class="container">
        <div id="project-detail-box">

            <div class="row" style="margin-left: 2px;">
                <div class="col-10 project-detail-information">
                    <div class="project-detail-name">
                        <h2 style="font-size: 50px;">{{project.name}}</h2>
                    </div>
                    <div class="project-detail-devstack">
                        {% for stack in project.proj_stacks %}
                            <span class="badge badge-secondary" style="text-transform: capitalize;">
                                {{stack}}
                            </span>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-2 project-detail-checkbox">
                    {% if project.status == "recruiting" and not is_owner %}
                        <a href="/project/{{project.owner.username}}/{{project.name}}/join" class="btn btn-primary btn-lg">신청하기</a>
                    {% else %}
                        <button class="btn btn-primary btn-lg" disabled>신청하기</a>
                    {% endif %}
                </div>
            </div>

            <div class="row project-detail-member" style="margin-left: 2px;">
                <div class="col-8 project-detail-profile">
                    <div class="project-detail-owner">
                        <img class="owner-profile-image" src="{{project.owner.avatar_url}}">
                        <div class="owner-profile">
                            <p class="owner-name">
                                {{project.owner.username}}
                            </p>
                            <div class="owner-tier">
                                연락처: <b>{{project.owner.contacts}}</b>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4 project-detail-participant">
                    <div class="participant-profile-image">
                        {% for collaborator in project.collaborators %}
                            {% if collaborator.username != project.owner.username and collaborator.status == "approved" %}
                                <img src="{{collaborator.avatar_url}}" width="20">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="project-github-link">
                <img src="/static/img/github-icon.png">
                <span>
                    <a href="https://github.com/{{project.owner.username}}/{{project.name}}">github.com/{{project.owner.username}}/{{project.name}}</a>
                </span>
            </div>
            <div id="project-github-link">
                <span class="badge badge-secondary">Webhook</span> <span class="badge badge-secondary">application/json</span> http://220.230.122.142:5080/project/{{project.owner.username}}/{{project.name}}/hook
            </div>
        </div>
        
        <div class="project-detail-body">
            {% if is_owner and project.status != "end" %}
                <a href="/project/{{project.owner.username}}/{{project.name}}/end" class="btn btn-secondary">프로젝트 완료</a>
            {% endif %}
            {% block project_detail_body %}
                {% if is_collaborator %}
                    <a href="{{project.name}}/todo" class="btn btn-info">To-Do</a>
                {% endif %}
            {% endblock %}
            <div>
                {% if is_owner %}
                    <h3>사용자 승인하기</h3>
                    <ul>
                        {% for collaborator in project.collaborators %}
                            {% if collaborator.status == "pending" %}
                                <li><a href="/project/{{project.owner.username}}/{{project.name}}/approve?username={{collaborator.username}}">{{collaborator.username}}</a> ({{collaborator.contacts}})</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}