{% extends "project/project_detail.html" %}

{% block project_detail_body %}
    <style>
        @import url("/static/css/project-todo.css?after");
    </style>
    <div class="todo-body">
        <div class="assignment">
            <p style="margin-bottom: 0; font-size: 25px; font-weight: bold;">
                과제
            </p>
            {% for todo in my_todos %}
                <li class="list-group-item">
                    <h5><a href="{{todo.link}}">{{todo.title}}</a></h5>
                    <div class="form-check text-right">
                    </div>
                </li>
            {% endfor %}
        </div>
        <div class="evaluation">
            <p style="margin-bottom: 0; font-size: 25px; font-weight: bold;">
                평가
            </p>
            <form method="POST" action="/project/{{project.owner.username}}/{{project.name}}/todo/vote">
                <ul class="list-group list-group-flush">
                    {% for todo in others_todos %}
                        <li class="list-group-item">
                            <h5><a href="{{todo.link}}">{{todo.title}}</a></h5>
                            {% if todo.is_closed %}
                                <div class="form-check text-right">
                                    <input class="form-check-input" type="checkbox" name={{todo.id}} value="good" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        좋아요
                                    </label>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <div class="text-right">
                    <input type="submit" class="btn btn-primary text-right" value="평가 완료">
                </div>
            </form>
        </div>
        <script>
            $(".evt-btn").click(function () {
                this.disabled = true;

                $(this).addClass("active");
                $("#proj-stacks").val(
                    $("#proj-stacks").val() + ' ' + $(this).val()
                )
            });
        </script>
    </div>
{% endblock %}