{% extends "layout.html" %}

{% block main_content %}
    <div class="container">
        {% for collaborator in proj_info.collaborators %}
            <img src="{{collaborator.avatar_url}}" alt="{{collaborator.username}}" width="20">
        {% endfor %}
        <h2>{{proj_info.name}}</h2>
        <a href="#" class="btn btn-primary">프로젝트 참여</a>
        <ul class="list-group list-group-flush">
            {% for project in projects %}
                <li class="list-group-item">
                    {% for collab in project.collaborators %}
                        <img src="{{collab.avatar_url}}" alt="collaborator" width="20px">
                    {% endfor %}
                    <h4 class="mb-1">{{project.name}}</h4>
                    <p class="mb-1">
                        {% for stack in project.proj_stacks %}
                            <span class="badge badge-secondary" style="text-transform: capitalize;">
                                {{stack}}
                            </span>
                        {% endfor %}
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}