{% extends "layout.html" %}

{% block main_content %}
    <div class="container" style="text-align: left;">
        <form action="/project/create/{{project_name}}" method="post">
            <div class="form-group">
                <input type="hidden" name="proj_stacks" id="proj-stacks">
                <div class="row">
                    <div class="col-sm">
                        <h2 style="text-align: left;">{{project_name}} 프로젝트에서 사용하는 개발 스택을 선택하세요</h2>
                        <div class="list-group-wrap" style="max-height: 450px; overflow-y: scroll;">
                            <div class="list-group">
                                {% for devstack in devstacks %}
                                    <button type="button" value="{{devstack.name}}" class="list-group-item list-group-item-action devstack-btn" name="devstack" style="text-align: left;">
                                        <h5 class="mb-1" style="text-transform: capitalize;">{{devstack.name}}</h5>
                                    </button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" name="proj_stacks" id="proj-stacks" value="프로젝트 생성하기">
        </form>
        <script>
            $(".devstack-btn").click(function () {
                this.disabled = true;

                $(this).addClass("active");
                $("#proj-stacks").val(
                    $("#proj-stacks").val() + ' ' + $(this).val()
                )
            });
        </script>
    </div>
{% endblock %}