{% extends "layout.html" %}

{% block main_content %}
    <div class="container">
        <div id="main-user">
            <div class="main-profile-container">
                <img src="{{ user.avatar_url }}">
            </div>
            <div id="main-user-explain">
                <div id="main-user-name">
                    <span>{{ user.username }}</span>
                    <!--<img src="static/img/github-icon.png">-->
                </div>
                <div id="introduction">
                    <span><p>{{ user.bio }}</p>
                    <span><p>{{ user.contacts }}</p></span>
                </div>
                <div class="progress" style="height: 24px">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 40%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="250">40%</div>
                </div>
            </div>
        </div>
        <div id="menu">
            <ul id="ul" class="nav nav-tabs">
                <li class="nav-item">
                    <a href="?section=repositories" class="nav-link {% if section == 'repositories' or not section %}active{% endif %}">개인 저장소</a>
                </li>
                <li class="nav-item">
                    <a href="?section=projects" class="nav-link {% if section == 'projects' %}active{% endif %}">프로젝트</a>
                </li>
                <li class="nav-item">
                    <a href="?section=history" class="nav-link {% if section == 'history' %}active{% endif %}">히스토리</a>
                </li>
            </ul>
            <div id="box">
                {% if section == "repositories" %}
                    {% include "user/repositories.html" %}
                {% elif section == "projects" %}
                    {% include "user/repositories.html" %}
                {% elif section == "history" %}
                    {% include "user/project_history.html" %}
                {% else %}
                    {% include "user/repositories.html" %}
                {% endif %}
                <!-- 위 리스트 활성화 여부에 따라 불러오는 html 파일이 다름 -->
            </div>
        </div>
    </div>
{% endblock %}