<style>
    @import url("/static/css/project.css");
</style>
<div id="project">
    <div class="layer">
        <div class="project-grid">
            <div class="project-information">
                <div class="project-name">
                    프로젝트 명
                </div>
                <div class="project-date">
                    <span>2019-08-12</span>
                    <span>2019-12-28</span>
                </div>
            </div>
            <div class="project-user-image">
                <img src="../../static/img/github-icon.png">
                <img src="../../static/img/github-icon.png">
                <img src="../../static/img/github-icon.png">
                <img src="../../static/img/github-icon.png">
                <img src="../../static/img/github-icon.png">
                <img src="../../static/img/github-icon.png">
            </div>
        </div>
    </div>
</div>