<style>
    @import url("/static/css/project.css?after");
</style>
<div id="project">
    <div class="layer">
        <div class="project-grid">
            <div class="project-information">
                <div class="project-name">
                    Gyosunim_Saranghaeyo
                </div>
            </div>
            <div class="project-user-image">
                <img src="../../static/img/jeonghyun.png" style="height: 50px; width: 50px;">
                <img src="../../static/img/sangjin.png" style="height: 50px; width: 50px;">
            </div>
        </div>
        <section class="timeline">
            <ol>
                <li>
                    <div>11/5</div>
                </li>
                <!--디자인을 위해 배치한 li태그, 그냥 빈 상태로 둘 것-->
                <li></li>
                <!---->
            </ol>
        </section>
    </div>
    <div class="layer">
        <div class="project-grid">
            <div class="project-information">
                <div class="project-name">
                    trip-advisor
                </div>
            </div>
            <div class="project-user-image">
                <img src="../../static/img/hyunwoo.png" style="height: 50px; width: 50px;">
                <img src="../../static/img/jeonghyun.png" style="height: 50px; width: 50px;">
                <img src="../../static/img/sangjin.png" style="height: 50px; width: 50px;">
            </div>
        </div>
        <section class="timeline2">
            <ol>
                <li>
                    <div>9/10</div>
                </li>
                <li>
                    <div>9/17</div>
                </li>
                <li>
                    <div>9/24</div>
                </li>
                <li>
                    <div>10/1</div>
                </li>
                <li>
                    <div>10/8</div>
                </li>
                <li>
                    <div>10/15</div>
                </li>
                <li>
                    <div>10/22</div>
                </li>
                <li>
                    <div>10/29</div>
                </li>
                <li>
                    <div>11/5</div>
                </li>
                <!--디자인을 위해 배치한 li태그, 그냥 빈 상태로 둘 것-->
                <li></li>
                <!---->
            </ol>
        </section>
    </div>
</div>