<style>
    @import url("/static/css/project.css?after");
</style>
<div id="project">
    <div class="layer">
        <div class="project-grid">
            <div class="project-information">
                <div class="project-name">
                    프로젝트 명
                </div>
                <div class="project-date">
                    <span>2019-08-12</span>
                    <span>2019-12-28</span>
                </div>
            </div>
            <div class="project-user-image">
                <img src="../../static/img/github-icon.png">
                <img src="../../static/img/github-icon.png">
                <img src="../../static/img/github-icon.png">
                <img src="../../static/img/github-icon.png">
                <img src="../../static/img/github-icon.png">
                <img src="../../static/img/github-icon.png">
            </div>
        </div>
        <section class="timeline">
            <ol>
                <li>
                    <div>9/8</div>
                </li>
                <li>
                    <div>9/15</div>
                </li>
                <li>
                    <div>9/22</div>
                </li>
                <li>
                    <div>9/29</div>
                </li>
                <li>
                    <div>10/6</div>
                </li>
                <li>
                    <div>10/13</div>
                </li>
                <li>
                    <div>10/20</div>
                </li>
                <li>
                    <div>10/27</div>
                </li>
                <li>
                    <div>11/3</div>
                </li>
                <!--디자인을 위해 배치한 li태그, 그냥 빈 상태로 둘 것-->
                <li></li>
                <!---->
            </ol>
        </section>
    </div>
</div>