<style>
    @import url("/static/css/project-history.css");
</style>
<div id="history">
    <div class="layer" id="history1">
        <div class="history-grid">
            <div class="history-information">
                <div class="history-name">
                    프로젝트 명
                </div>
                <div class="history-date">
                    <span>2019-08-12</span>
                    <span>2019-12-28</span>
                </div>
            </div>
            <div class="history-user-image">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
            </div>
        </div>
        <div class="history-second-grid">
            <div class="history-project-stack">
                <span>개발 스택</span>
                <span>개발 스택</span>
                <span>개발 스택</span>
                <span>개발 스택</span>
            </div>
            <div class="rise-fall">
                <span class="plus-minus">+</span>
                <span class="score">51</span>
            </div>
        </div>
    </div>
    <div class="layer" id="history2">
        <div class="history-grid">
            <div class="history-information">
                <div class="history-name">
                    프로젝트 명
                </div>
                <div class="history-date">
                    <span>2019-08-12</span>
                    <span>2019-12-28</span>
                </div>
            </div>
            <div class="history-user-image">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
            </div>
        </div>
        <div class="history-second-grid">
            <div class="history-project-stack">
                <span>개발 스택</span>
                <span>개발 스택</span>
                <span>개발 스택</span>
                <span>개발 스택</span>
            </div>
            <div class="rise-fall">
                <span class="plus-minus">+</span>
                <span class="score">73</span>
            </div>
        </div>
    </div>
    <div class="layer" id="history3">
        <div class="history-grid">
            <div class="history-information">
                <div class="history-name">
                    프로젝트 명
                </div>
                <div class="history-date">
                    <span>2019-08-12</span>
                    <span>2019-12-28</span>
                </div>
            </div>
            <div class="history-user-image">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
            </div>
        </div>
        <div class="history-second-grid">
            <div class="history-project-stack">
                <span>개발 스택</span>
                <span>개발 스택</span>
                <span>개발 스택</span>
                <span>개발 스택</span>
            </div>
            <div class="rise-fall">
                <span class="plus-minus">-</span>
                <span class="score">8</span>
            </div>
        </div>
    </div>
    <div class="layer" id="history4">
        <div class="history-grid">
            <div class="history-information">
                <div class="history-name">
                    프로젝트 명
                </div>
                <div class="history-date">
                    <span>2019-08-12</span>
                    <span>2019-12-28</span>
                </div>
            </div>
            <div class="history-user-image">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
            </div>
        </div>
        <div class="history-second-grid">
            <div class="history-project-stack">
                <span>개발 스택</span>
                <span>개발 스택</span>
                <span>개발 스택</span>
                <span>개발 스택</span>
            </div>
            <div class="rise-fall">
                <span class="plus-minus">-</span>
                <span class="score">17</span>
            </div>
        </div>
    </div>
    <div class="layer" id="history5">
        <div class="history-grid">
            <div class="history-information">
                <div class="history-name">
                    프로젝트 명
                </div>
                <div class="history-date">
                    <span>2019-08-12</span>
                    <span>2019-12-28</span>
                </div>
            </div>
            <div class="history-user-image">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
            </div>
        </div>
        <div class="history-second-grid">
            <div class="history-project-stack">
                <span>개발 스택</span>
                <span>개발 스택</span>
                <span>개발 스택</span>
                <span>개발 스택</span>
            </div>
            <div class="rise-fall">
                <span class="plus-minus">+</span>
                <span class="score">48</span>
            </div>
        </div>
    </div>
    <div class="layer" id="history6">
        <div class="history-grid">
            <div class="history-information">
                <div class="history-name">
                    프로젝트 명
                </div>
                <div class="history-date">
                    <span>2019-08-12</span>
                    <span>2019-12-28</span>
                </div>
            </div>
            <div class="history-user-image">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
            </div>
        </div>
        <div class="history-second-grid">
            <div class="history-project-stack">
                <span>개발 스택</span>
                <span>개발 스택</span>
                <span>개발 스택</span>
                <span>개발 스택</span>
            </div>
            <div class="rise-fall">
                <span class="plus-minus">-</span>
                <span class="score">52</span>
            </div>
        </div>
    </div>
    <script>
        // 부호가 -면 붉은색으로 색상 변경
        var lis = document.querySelectorAll('.plus-minus');
        for (var i = 0; i < lis.length; i++) {
            if (lis[i].textContent == "-") {
                lis[i].style.color="red";
            }
        }
    </script>
</div>