<div id="repository">
    {% for project in projects %}
        <div class="layer">
            <h3>{{project.name}}</h3> <!--프로젝트 명이 나오지 않음-->
            {% if project.description %}
                <p>{{project.description}}</p>
            {% endif %}
        </div>
    {% endfor %}
</div>

<!--
    </div>
    <div class="layer" id="repository2">

    </div>
    <div class="layer" id="repository3">

    </div>
    <div class="layer" id="repository4">

    </div>
    <div class="layer" id="repository5">

    </div>
    <div class="layer" id="repository6">

    </div>
    <div class="layer" id="repository7">

    </div>
    <div class="layer" id="repository8">

    </div>
    <div class="layer" id="repository9">

    </div>
    <div class="layer" id="repository10">

    </div>
    <div class="layer" id="repository11">

    </div>
    <div class="layer" id="repository12">

    </div>
</div>-->