.container {
    background: white;
}

.user-title-box {
    display: flex;
    margin-bottom: 30px;
}

.user-title-box__profile-container {
    padding-top: 10px;
    padding-left: 20px;
    width: 140px;
}

.user-title-box__profile-container img {
    width: 100%;
}

.user-title-box__userinfo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    flex-grow: 9;
    padding-left: 35px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.user-title-box__userinfo-container div {
    text-align: left;
}

.tab-content {
    padding-top: 15px;
}