html, body {
    height: 100%;
}
body {
    margin: 0;
    background-color: #EFEFEF;
}
div {
    text-align: center;
}
.container {
    height: 100%;
    display: table-cell;
    padding-top: 25px;
}
.circruit {
    width: 360px;
    height: 100px;
    margin: 150px 0 250px 0;
}
.button {
    padding: 0;
    border: none;
    background-color: #EFEFEF;
}
.Start-with-Github {
    width: 320px;
    height: 80px;
    border-radius: 5px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #dfdfdf;
    background-color: #ffffff;
}
.github_icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.layer-wrap {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.6);
}
.layer-wrap:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -.25em;
}
.pop-layer {
    display: inline-block;
    vertical-align: middle;
    width: 500px;
    height: 570px;
    background-color: #707070;
    border: none;
    z-index: 10;
}
.pop-layer .pop-container {
    padding: 20px 25px;
}
.pop-layer .btn-r {
    width: 100%;
    margin: 10px 0 20px;
    padding-top: 10px;
    text-align: right;
}
.btn-layerClose {
    display: inline-block;
    width: 90px;
    height: 30px;
    border-radius: 15px;
    padding: 0 14px 0;
    margin-right: 30px;
    font-size: 13px;
    line-height: 25px;
}
.pop-conts p {
    font-weight: bold;
    font-size: 18px;
}
.Choose-your-stacks {
    font-family: 'Nanum Square';
    font-size: 24px;
}
#choose_stack {
    height: 64px;
    background-color: #dfdfdf;
    margin: 20px 30px 20px 30px;
    border-radius: 30px;
}
#stack_box {
    height: 330px;
    background-color: #dfdfdf;
    margin: 30px 30px 0 30px;
    border-radius: 20px;
    overflow: auto;
}
.grid-stock_box {
    display: grid;
    grid-template-columns: 90px 90px 90px 4fr;
    grid-template-rows: 4fr;
    margin: 0 15px 0 15px;
}
.grid-stock_box .item {
    clear: both;
    text-align: center;
    height: 90px;
    padding: 0 5px 0 5px;
    font-family: 'Nanum Square';
}
.grid-stock_box .stack_image {
    margin-top: 20px;
    height: 60px;
    width: 60px;
    border-radius: 10px;
}
#scroll-choose_stack {
    padding-top: 10px;
    height: 50px;
}
.choose-stack-div {
    width: 50px;
    float: left;
    margin-left: 10px;
    font-size: 10px;
    font-family: 'Nanum Square';
}
.choose-stack {
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

#header {
    background-color: white;
    padding-bottom: 52px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
#logo {
    float: left;
    margin-left: 20px; 
}
#logo-image {
    height: 40px;
    width: 150px;
}
#top {
    float: right;
    display: grid;
    grid-template-columns: 45px 50px 1fr;
}
#github-icon {
    width: 40px;
    height: 40px;
}
#feed {
    width: 40px;
    height: 40px;
}
#user {
    border-left: 1px solid rgba(128, 128, 128, 0.3);
    padding: 0 20px 0 20px;
    display: grid;
    grid-template-columns: 55px 1fr;
}
#user-profile-image {
    width: 40px;
    height: 40px;
}
#user-profile {
    display: inline-block;
}
#user-name {
    font-weight: bold;
    padding-top: -10px;
    margin: 0;
}
#user-tier {
    margin-right: 2px;
    margin-top: 3px;
    font-size: 12px;
}
#user-tier img {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

main {
    min-height: calc(100vh - 63px);
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {
    margin: 0 auto;
    display: table;
}
progress {
    margin-left: 20px;
    margin-top : 20px;
    width: 800px;
}
#ul {
    margin-bottom: 0;
}

#projects {
    margin-right: 50px;
}

#ul .selected {
    background-color: #EFEFEF;
}
#project {
    width: 1080px;
}
#project .layer {
    margin-top: 50px;
    height: 330px;
    width: 1078px;
    border: 1px solid gray;
    background-color: white;
}
.project-grid {
    display: grid;
    grid-template-columns: 539px 1fr;
}

.project-information {
    margin: 20px 0 0 30px;
}
.project-name {
    font-family: 'Nanum Square';
    text-align: left;
    font-size: 36px;
    font-weight: bold;
}
.project-date {
    font-family: 'Nanum Square';
    margin-top: 8px;
    text-align: left;
    font-size: 14px;
}
.project-date span {
    margin-right: 25px;
}

.project-user-image {
    margin: 30px 30px 0 0;
    text-align: right;
}
.project-user-image img {
    display: inline;
    margin-left: 10px;
}

#repository {
    width: 1080px;
    display: grid;
    grid-template-columns: 375px 375px 3fr;
}
#repository .layer {
    width: 320px;
    height: 300px;
    margin-right: 55px;
    margin-bottom: 55px;
    border: 1px solid gray;
    background-color: white;
}

#history {
    width: 1080px;
}
#history .layer {
    height: 146px;
    width: 1078px;
    border: 1px solid gray;
    background-color: white;
}
.history-grid {
    display: grid;
    grid-template-columns: 539px 1fr;
}

.history-information {
    margin: 10px 0 0 20px;
}
.history-name {
    font-family: 'Nanum Square';
    text-align: left;
    font-size: 36px;
    font-weight: bold;
}
.history-date {
    font-family: 'Nanum Square';
    margin-left: 4px;
    text-align: left;
    font-size: 14px;
    margin-top: 3px;
}
.history-date span {
    margin-right: 25px;
}

.history-user-image {
    margin: 12px 12px 0 0;
    text-align: right;
}
.history-user-image img {
    display: inline;
    margin-left: 15px;
}
.history-second-grid {
    display: grid;
    grid-template-columns: 800px 1fr;
    margin-top: 15px;
}
.history-project-stack {
    font-family: 'Nanum Square';
    text-align: left;
    margin: 20px 0 0 20px;
}
.history-project-stack span {
    margin-right: 15px;
}
.rise-fall {
    margin-right: 20px;
    text-align: right;
}
.plus-minus {
    font-family: 'Nanum Square';
    font-size: 36px;
    color: green;
}
.score {
    font-family: 'Nanum Square';
    font-size: 36px;
    font-weight: bold;
}

.feed-head {
    display: grid;
    width: 1360px;
    grid-template-columns: 1000px 1fr;
}

.bold {
    font-weight: bold;
    font-size: 30px;
}

.project-apply {
    padding-top: 30px;
    margin-left: 50px;
    width: 1280px;
    height: 324px;
    margin-bottom: 50px;
}
.apply-box {
    display: grid;
    grid-template-columns: 150px 1fr;
}
.apply-project-member {
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 90px 90px 3fr;
}
.apply-project-member img {
    height: 60px;
    width: 60px;
    margin-top: 10px;
}
.apply-main-box {
    font-family: "Nanum Square";
    margin-left: 10px;
    background-color: white;
    width: 1120px;
    height: 324px;
}
.apply-grid {
    display: grid;
    grid-template-columns: 950px 1fr;
}
.apply-message {
    margin: 30px 0 0 30px;
    text-align: left;
    font-size: 25px;
}
.apply-grid a {
    margin-top: 30px;
}
.apply-button {
    height: 80px;
    width: 240px;
}