<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>똑똑한 팀찾기 Circruit</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <style>
            body {
                display: table;
                margin: 0 auto;
            }
        </style>
    </head>
    <body background="img/background1.png">
        <div class="container">
            <div>
                <img src="img/Circruit.png" class="circruit">
            </div>
            <div>
                <button class="button" id="popup_open" onclick="popup()">
                    <img src="img/Start-with-Github.png" class="Start-with-Github">
                </button>
            </div>
        </div>

        <div id="layer" class="layer-wrap">
            <div class="pop-layer">
                <div class="pop-container">
                    <div class="pop-conts">
                        <p class="Choose-your-stacks">Choose Your stacks</p>
                        <div id="choose_stack">
                            <div id="scroll-choose_stack">
                            </div>
                        </div>
                        <div id="stack_box">
                            <div class="grid-stock_box">
                                <div class="item"><img class="stack_image" src="img/black.png">TEST1</div>
                                <div class="item"><img class="stack_image" src="img/black.png">TEST2</div>
                                <div class="item"><img class="stack_image" src="img/black.png">TEST3</div>
                                <div class="item"><img class="stack_image" src="img/black.png">TEST4</div>
                                <div class="item"><img class="stack_image" src="img/black.png">TEST5</div>
                                <div class="item"><img class="stack_image" src="img/black.png">TEST6</div>
                                <div class="item"><img class="stack_image" src="img/black.png">TEST7</div>
                                <div class="item"><img class="stack_image" src="img/black.png">TEST8</div>
                                <div class="item"><img class="stack_image" src="img/black.png">TEST9</div>
                                <div class="item"><img class="stack_image" src="img/black.png">TEST10</div>
                                <div class="item"><img class="stack_image" src="img/black.png">TEST11</div>
                                <div class="item"><img class="stack_image" src="img/black.png">TEST12</div>
                            </div>
                        </div>
                        <div class="btn-r">
                            <button href="index.html" class="btn-layerClose">Finish</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var arr = [];

            // Start with Github 버튼 클릭 시 스택 선택 창이 나타남
            function popup () {
                $('#layer').fadeIn();
            }

            // 스택 클릭 시 배열에 없다면 새로 추가, 있다면 제거
            $(document).ready(
                $('.stack_image').on('click', function () {
                    var img = this.src;
                    var name = this.parentNode.textContent;
                    if (arr.indexOf(name) === -1) {
                        $('#scroll-choose_stack').append('<div class="choose-stack-div ' + name + '"><img class="choose-stack" src="' + img + '"><br>' + name + '</div>')
                        arr.push(name);
                    } else {
                        var target = document.querySelector('.' + name);
                        target.remove();
                        arr.splice(arr.indexOf(name), 1);
                    }
                })
            )

            // finish 버튼 클릭시 'index.html'로 넘어감
            $('.btn-layerClose').on('click', function () {
                window.open('index.html', '_self');
            })
        </script>
    </body>

    <script type="text/javascript" src="js/bootstrap.js"></script>
</html>