<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>똑똑한 팀찾기 Circruit</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="page">
            <header id="header">
                <div id="logo">
                    <img id="logo-image" src="img\Circruit.png">
                </div>
                <div id="top">
                    <img id="github-icon" src="img\github-icon.png">
                    <img id="feed" src="img\feed.png">
                    <div id="user">
                        <img id="user-profile-image" src="img\user-profile-image.png">
                        <div id="user-profile">
                            <p id="user-name">
                                Username
                            </p>
                            <div id="user-tier">
                                <img src="img\github-icon.png">
                                <span>Gold 3</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <main id="main">

            </main>
            <script>
                $('#main').load('main.html');

                $('#feed').on('click', function () {
                    $('#main').load('feed.html');
                })
            </script>
        </div>
    </body>
    <script type="text/javascript" src="js/bootstrap.js"></script>
</html>