<div id="project">
    <div class="layer" id="project1">
        <div class="project-grid">
            <div class="project-information">
                <div class="project-name">
                    프로젝트 명
                </div>
                <div class="project-date">
                    <span>2019-08-12</span>
                    <span>2019-12-28</span>
                </div>
            </div>
            <div class="project-user-image">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
            </div>
        </div>
    </div>
    <div class="layer" id="project2">
        <div class="project-grid">
            <div class="project-information">
                <div class="project-name">
                    프로젝트 명
                </div>
                <div class="project-date">
                    <span>2019-08-12</span>
                    <span>2019-12-28</span>
                </div>
            </div>
            <div class="project-user-image">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
            </div>
        </div>
    </div>
    <div class="layer" id="project3">
        <div class="project-grid">
            <div class="project-information">
                <div class="project-name">
                    프로젝트 명
                </div>
                <div class="project-date">
                    <span>2019-08-12</span>
                    <span>2019-12-28</span>
                </div>
            </div>
            <div class="project-user-image">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
                <img src="img/user-profile-image.png">
            </div>
        </div>
    </div>
</div>